@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    background: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    color:rgb(6, 4, 122)
}

.section-box{
    background: rgb(216, 221, 226);
    text-align: center;
    color: navy;
    border: 2px solid rgb(6, 4, 122);
    border-radius: 50px;
    box-shadow: 1000px;
}

/* alinhando a minha foto */
#lucas-selfie{
    height: 50vh;
    border-radius: 100px;
}

.figure-lucas {
    text-align: center;
}

.section-body{
    text-align: justify;
    max-width: 90vw;
    margin: 5px;
}

#about-me {
    margin-left: 2vw;
}

li {
    font-size: 1.5rem;
}

.table{
    text-align: center;
    margin-left: 34rem;
    width: 50%;
}

.img-icon {
    height: 50px;
}

#gitLab-icon:hover{
    height: 60px;
}

#insta-icon:hover{
    height: 60px;
}

#email-icon:hover{
    height: 60px;
}
